#
# EditorConfig configuration
#
# Copyright (c) 2026 Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.
#
# DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
#
root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,sql}]
trim_trailing_whitespace = unset

[*.{sql,svg}]
insert_final_newline = unset

[**/.bumpversion]
trim_trailing_whitespace = unset
